body {
  margin: 0px;
  padding: 0px;
}

.game-grid {
  translate: -7vw;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}



.game-card {
  width: 30vw;
  padding: 1vw;
  background-color: #333F44;
  margin-left: 0vw;
  height: 12vw;
  z-index: 2;
  border-radius: 3vw;
  text-align: center;
}

.game-card-grid {
  display: inline-grid; 
  grid-template-columns: 12.25vw 18vw; 
  grid-template-rows: 2.5vw 6.5vw 3.5vw; 
  gap: 0px 0px; 
}

.game-card-grid > *:nth-child(2) {
  margin-top: 2vw; /* adjust this value as needed */
}

.game-image {
  width: 12vw;
  border-radius: 3vw;
  grid-row: 1 / 3; /* the image will occupy both rows */
  grid-column: 1 / 2; /* the image will occupy the first column on the right */
}

.game-name {
  color: white;
  margin: 0px;
  font-size: 2.5vw;
  font-family: 'Archivo Black', sans-serif;
  margin-bottom: 1vw;
  grid-row: 1 / 2; /* the game name will be at the top of the second row */
  grid-column: 2 / 3; /* the game name will occupy the second column */
}

.game-description {
  color: white;
  line-height: normal;
  margin-top: 1.5vw;
  display: block;
  font-size: 0.8vw;
  line-height: 1wv;
  padding: none;
  margin-bottom: 1vw;
  grid-row: 2 / 3; /* the game description will be below the game name */
  grid-column: 2 / 3; /* the game description will occupy the second column */
}

.play-now {
  grid-row: 3 / 4; /* the play button will be under the game description */
  grid-column: 2 / 3; /* the play button will occupy the second column */
  border-radius: 10vw;
  border-width: 0.25vw;
  border-style: solid;
  padding: 0.5vw 5.75vw;
  color: #37AA9C;
  border-color: #37AA9C;
  background-color: transparent;
  transition: color 0.5s, padding 0.15s;
  font-size: 1vw;
  margin-top: 0.5vw;
  cursor: pointer;
  font-weight: 100;
  margin-right: 0.25vw;
  letter-spacing: 0.1vw;
  font-family:'Poppins', sans-serif;
  font-weight: 600;
}

.play-now:hover {
  color: #94F3E4;
  border-color: #94F3E4;
}

.play-now:active {
  color: #333F44;
  border-color: transparent;
  background-color: #94F3E4;
}

.image-render {
  text-align: left;
}

.large-name {
  font-size: 2.25vw;
  display: block;
}

.small-image {
  height: 12vw;
  object-fit: cover;
}

.large-description {
  font-size: 0.62vw;
  line-height: 4px;
}

.extra-large-name {
  font-size: 2vw;
  display: block;
}

.extra-extra-large-name {
  font-size: 1.50vw;
  display: block;
}