.home-button {
  border-radius: 50%;
  pointer-events: all;
  z-index: 999999999999;
  border-width: 3px;
  border-style: solid;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #37AA9C;
  border-color: #37AA9C;
  background-color: transparent;
  transition: color 0.5s;
  transition: padding 0.15s;
  font-size: 20px;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.home-button:hover {
  color: #94F3E4;
  border-color: #94F3E4;
}

.home-button:active {
color: #1A1A1B;
border-color: transparent;
background-color: #94F3E4;
}

.incognito {
  pointer-events: all;
  border-radius: 50%;
  z-index: 999999999999;
  border-width: 3px;
  border-style: solid;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #37AA9C;
  border-color: #37AA9C;
  background-color: transparent;
  transition: color 0.5s;
  transition: padding 0.15s;
  font-size: 20px;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.incognito:hover {
  color: #94F3E4;
  border-color: #94F3E4;
}

.incognito:active {
color: #1A1A1B;
border-color: transparent;
background-color: #94F3E4;
}

.overlay {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

body {
  background-color: #1A1A1B;
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
}

.overlay-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5); /* Change the alpha value to adjust the transparency */
  z-index: 9998; /* Make sure the background div is behind the overlay buttons */
/* Hide the background div by default */
  cursor: move; /* Change the cursor to the "move" cursor when hovering over the background div */
}
